[submodule "code-grep"]
	path = code-grep
	url = https://github.com/av-maramzin/Code-Grep.git
[submodule "benchmarks/olden"]
	path = benchmarks/olden
	url = https://github.com/av-maramzin/DCP-olden.git
[submodule "benchmarks/sodden"]
	path = benchmarks/sodden
	url = https://github.com/av-maramzin/DCP-sodden.git
[submodule "playground/cmake/llvm-ir-cmake-utils"]
	path = playground/cmake/llvm-ir-cmake-utils
	url = https://github.com/av-maramzin/llvm-ir-cmake-utils.git
[submodule "abstract"]
	path = abstract
	url = https://github.com/av-maramzin/Abstract-DT.git
